@model biblio.Models.Abonné

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Abonné</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prénom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prénom)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">
        <i class="fas fa-edit">Edit</i>

    </a>

    <a asp-action="Index" class="btn btn-info">Back to List</a>
</div>
